{% extends 'Industrias1App/base.html' %}

{% load static %}

{% block content %}

    {% include "botoneraIzquierda/botoneraIzquierdaMiPlanta.html" %}

    {% if user.is_authenticated %}
        <div>
        {% if patrimonio == None %}
            <p>Todavía no tiene ningún equipo disponible. Adquiera equipos en la sección "Mercado".</p>
        {% else %}
            <p>Estos son sus equipos:</p>

            <table>
                <thead>
                    <tr>
                        <td>Tipo</td>
                        <td>Modelo</td>
                        <td>Ab. Entrada</td>
                        <td>Ab. Cierre</td>
                        <td>Valor Original</td>
                        <td>Valor Actual</td>
                        <td>Vender</td>
                    </tr>
                </thead>
                <tbody>
                    {% for equipo in patrimonio %}
                        <tr>
                            <td>{{equipo.trituradora.tipo|title}}</td>
                            <td>{{equipo.trituradora.modelo}}</td>
                            <td>{{equipo.trituradora.aberturaEntrada}}"</td>
                            <td>{{equipo.trituradora.aberturaCierre}}"</td>
                            <td>${{equipo.trituradora.precio}}</td>
                            <td>${{equipo.valorActual}}</td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{equipo.id}}" name="equipo_id">
                                    <input type="submit" value="Vender">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </div>
    {% else %}
        <div class="containerCentral">
            <h4>Debe logearse para poder ver sus equipos.</h4>
        </div>
    {% endif %}

{% endblock %}